.navbar, footer,.sec3 {
background: linear-gradient(90deg, #3e7f9b, #63a2bd, #7bb2cf, #b2e6f8);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
body {
  background-color: #E6F4F9; 
}
.half{
    color: #388e3c;
}
.foot-links,.navbar .nav-item .nav-link{
 
    color: #EAF8F3;
}
.foot-links:hover ,.navbar .nav-item .nav-link:hover{

       color: #388e3c;
}
.foot-links:after{
     background-color: #388e3c;   
}
.foot-headings{
    color: #9dd6a3;
    color: #388e3c;
}
.sec4 .col-3:hover {
    background-color: #b2e2b6;
    color: #EAF8F3;
}
.sec3{
    color: #EAF8F3;
}
.sec3 h6,.sec3 h3{
    color: #9dd6a3;
}
.sec3 h1{
    color: #388e3c;
}
.sec3 li i{
    /* color:#48f97d; */
    color: #9dd6a3;
}
.sect2 h2{
 color: #388e3c;
 text-align: center;
}
.card{
    background-color: transparent;
}
.sec4 h4{
    color: #388e3c;

}
.Gallery .place-title h2 {
    color: #E6F4F9;
}

